<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href=@Url.Action("Principal", "Dashboard") class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/assets/images/Loyal/LogoBlancoLOYAL.png" alt="" height="40">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assets/images/Loyal/LogoBlancoLOYAL.png" alt="" height="17">
                    </span>
                </a>

                <a href=@Url.Action("Principal", "Dashboard") class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/assets/images/Loyal/LogoBlancoLOYAL.png" alt="" height="60">
                    </span>
                    <span class="logo-lg">
                        <img src="~/assets/images/Loyal/LogoBlancoLOYAL.png" alt="" height="60">
                    </span>
                </a>
            </div>
            <div class="dropdown dropdown-mega d-none d-lg-block ms-2">
                <button type="button" class="btn header-item waves-effect" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                    <span key="t-megamenu">Recursos del Agente</span>
                    <i class="mdi mdi-chevron-down"></i>
                </button>
                <div class="dropdown-menu dropdown-megamenu">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row">
                                <div class="col-md-2">
                                    <h5 class="font-size-14" key="t-ui-components">Generales</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/COBERTURA_COVID-19_LOYAL MAJOR MEDICAL.pdf">Cobertura COVID-19</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/COMPARATIVO DE BENEFICIOS - LOYAL 2021-2022.pdf">Comparativo de Beneficios 2021-2022</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href=href="~/assets/recursosagente/PROMOCION VENTAS LOYAL_2021.pdf">Promoción Ventas LOYAL</a>
                                        </li>
                                    </ul>
                                    <h5 class="font-size-14" key="t-ui-components">Planillas</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/Planilla de Pago - LOYAL.pdf">Planilla de Pago</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/Planilla de Solicitud - LOYAL.pdf">Planilla de Solicitud</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-2">
                                    <h5 class="font-size-14" key="t-applications">Condicionados</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/CONDICIONADO BEYOND 2021-2022.pdf">Condicionado Beyond</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/CONDICIONADO PRIVILEGE 2021-2022.pdf">Condicionado Privilege</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/CONDICIONADO LIBERTY 2021-2022.pdf">Condicionado Liberty</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/CONDICIONADO LEGACY 2021-2022.pdf">Condicionado Legacy</a>
                                        </li>
                                    </ul>
                                    <h5 class="font-size-14" key="t-applications">Folletos</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/FOLLETO INFORMATIVO BEYOND 2021-2022.pdf">Folleto Informativo Beyond</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/FOLLETO INFORMATIVO PRIVILEGE 2021-2022.pdf">Folleto Informativo Privilege</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/FOLLETO INFORMATIVO LIBERTY 2021-2022.pdf">Folleto Informativo Liberty</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/FOLLETO INFORMATIVO LEGACY 2021-2022.pdf">Folleto Informativo Legacy</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <h5 class="font-size-14" key="t-extra-pages">Cuestionarios</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Cancer y enfermedades tumorales_V1.0_2020.pdf">Cancer y enfermedades tumorales</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Cuestionario de Declaracion del medico tratante ESP.pdf">Cuestionario de Declaracion del medico tratante</a>
                                        </li>
                                        <li>
                                            <a target="_blank" target="_blank" href="~/assets/recursosagente/SPA_Cuestionario de Piloto y Deportes_Riesgosos_V1._0_2020 copia.pdf">Cuestionario de Piloto y Deportes Riesgosos</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Cuestionario_Asma_enfermedades_pulmonares_V1.0_2020.pdf">Cuestionario Asma enfermedades pulmonares</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Cuestionario_Convulsiones_V1.0_2020.pdf">Cuestionario Convulsiones</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Cuestionario_de Declaración enfermedades_Cardiacas e Hipertensión_V1.0_2020.pdf">Cuestionario de Declaración enfermedades Cardiacas e Hipertensión</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Cuestionario_Desordenes Psiquiatricos_V1._0_2020.pdf">Cuestionario Desordenes Psiquiatricos</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="font-size-14" key="t-extra-pages">Cuestionarios</h5>
                                    <ul class="list-unstyled megamenu-list">
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Cuestionario_Desordenes_Gastrointestinales_V1_0_2020 .pdf">Cuestionario Desordenes Gastrointestinales</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Cuestionario_Diabetes_y otros trastornos_V1.0_2020.pdf">Cuestionario Diabetes y otros Trastornos</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Cuestionario_Maternidad_V1.0_2020.pdf">Cuestionario Maternidad</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Declaracion_Buena_SaludV1.0_2020.pdf">Declaracion Buena Salud</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Procedimientos de_Traplantes_V1.0_2020.pdf">Procedimientos de Traplantes</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="~/assets/recursosagente/SPA_Revisioìn_Exclusiones_Limitaciones_V1.0_2020.pdf">Revisión Exclusiones Limitaciones</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" onclick="location.href='@Url.Action("Cancun2023", "Dashboard",new { nCodigoAgente = 1 })'">
                    <img class="rounded-circle header-profile-user" src="~/assets/images/Loyal/Cancumsmall.png" alt="Header Avatar" height="40">
                    <span class="text-white" style="font-family: Impact; font-size: 14pt;">CANCUN 2023</span>

                </button>
            </div>
        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img id="header-lang-img" src="~/assets/images/flags/us.jpg" alt="Header Language" height="16">
                </button>
                <div class="dropdown-menu dropdown-menu-end">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="en">
                        <img src="~/assets/images/flags/us.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">English</span>
                    </a>
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item language" data-lang="sp">
                        <img src="~/assets/images/flags/spain.jpg" alt="user-image" class="me-1" height="12"> <span class="align-middle">Spanish</span>
                    </a>

                </div>
            </div>

            <div class="dropdown d-none d-lg-inline-block ms-1">
                <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                    <i class="bx bx-fullscreen"></i>
                </button>
            </div>



            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="~/assets/images/Loyal/CascoAstronauta.png"
                         alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-1" key="t-henry">@this.Session["_NombreAgente"]</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a class="dropdown-item" href="/Agentes/PerfilAgente"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">Profile</span></a>
                    <a class="dropdown-item" href="/Correo/EnvioCorreo"><i class="bx bx-user font-size-16 align-middle me-1"></i> <span key="t-profile">Prueba de Correo</span></a>
                    <a class="dropdown-item d-block" href="#"><span class="badge bg-success float-end">11</span><i class="bx bx-wrench font-size-16 align-middle me-1"></i> <span key="t-settings">Settings</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i> <span key="t-logout">Logout</span></a>
                </div>
            </div>


        </div>
    </div>
</header>